@import "../../index.scss";

.usersBlueBlock {
    padding: 40px 35px 40px 35px !important;

    @media screen and (max-width: 1000px) {
        padding: 10px !important;
    }
    
    .userCharts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;
        grid-template-areas:
            ". ."
            ". .";

        @media screen and (max-width: 1300px) {
            display: block;
        }


        .yellowCardContainer {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;

            .yellowCard {
                @include shadowedBox();
                background-color: $appYellow;
                align-self: center;
                padding: 40px 35px 40px 35px;
                max-width: 600px;

                h4 {
                    text-transform: uppercase;
                    margin-top: 0;
                }

                h2 {
                    text-transform: uppercase;
                    margin-top: 0;
                }

                div {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}