@import "../../index.scss";

//2nd line with 2 blue boxes after header
.blocksLine {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .generalData {
        flex-grow: 2;
    }

    .stakeNow {
        flex-grow: 1;
        flex-basis: 33%;
    }
}

.generalData {
    display: flex;
    padding: 20px 35px 20px 35px;

    .stats {
        width: 50%;

        >div {
            margin-bottom: 10px;
        }

        .strideLogo {
            background-image: url("../../../public/img/stride-logo.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 290px;
            height: 107px;
        }

        .supportedZonesLabel {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
        }

        .supportedZonesIcons {
            img {
                margin-right: 7px;
                width: 30px;
                height: 30px;
            }
        }

        .totalValueLockedLabel {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }

        .totalValueLockedValueLabel {
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
        }

        .mcapAndVolumeBox {
            @include shadowedBox();

            background-color: white;
            padding: 10px;
            width: 70%;

            table {
                width: 100%;

                td:last-child {
                    text-align: right;
                }
            }
        }
    }

    .priceChart {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        .strdPriceTimespanSelector {
            margin-right: 15px;
        }
    }
}

.stakeNow {
    padding: 0px 35px;
    display: flex;
    min-height: 250px;

    .aboutData {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .stride {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
        }

        .strideDesc {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

        button {
            width: 154px;
            height: 60px;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
        }

        .social {
            img {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
        }
    }
}