@import "./index.scss";

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk';
    font-style: normal;
    background-color: $bg-color !important;

    .app {
        .content {
            width: 90%;

            @media screen and (min-width: 1920px) {
                width: 65%;
            }

            @media screen and (min-width: 1440px) and (max-width: 1920px) {
                width: 85%;
            }

            @media screen and (min-width: 1300px) and (max-width: 1440px) {
                width: 95%;
            }

            @media screen and (max-width: 1300px) {
                width: 95%;
            }

            margin: auto;
        }
    }

    $marginBetweenBlueBlocks: 20px;
    $blueBlockBorderRadius: 5px;

    .appBlock {
        background-color: $block-color;
        border-radius: $blueBlockBorderRadius;
        margin-top: $marginBetweenBlueBlocks;
        padding: 15px 35px 15px 35px;

        @media screen and (max-width: 1000px) {
            padding: 15px 15px 15px 15px;
        }

        &Label {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
            height: 100%;

            &Container {
                width: 180px;
                height: 50px;
                background-color: rgba(233, 252, 255, 0.92);
                position: relative;
                top: $marginBetweenBlueBlocks + $blueBlockBorderRadius;
                border-radius: $blueBlockBorderRadius;
            }
        }
    }

    .appSwitch {
        display: flex;

        .appSwitchLabel {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        &Component {
            border-radius: 6px !important;
            border: 2px solid black !important;
        }
    }

    .timeSpanSelector {
        border: 2px solid black;
        border-radius: 4px;
        padding: 4px 6px 4px 6px;
        display: flex;
        gap: 10px;
        width: fit-content;
        height: fit-content;

        button {
            width: 35px;
            height: 16px;
            padding: 0px;
            background-color: white;
            font-family: 'Space Grotesk';
            color: black;
            border: 1px solid $appPink;
            border-radius: 2px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
        }

        button.btnSelected {
            background-color: $appPink;
            color: white;
        }
    }

    .footer {
        margin: 30px 0px 40px 0px;
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }


        img {
            border-radius: 50%;
            margin: 0px 10px 0px 10px;
            width: 75px;
            height: 75px;
        }
    }

    .appButtonLink {
        width: fit-content;
        height: fit-content;
    }

    .appButton {
        @include shadowedBox();

        font-family: 'Space Grotesk';
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;

        background-color: $appPink;
        color: white;
    }

    .appButton:hover {
        transform: translate3d(4px, 4px, 0px);
        box-shadow: none;
    }
}