@import "./index.scss";

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk';
    font-style: normal;
    background-color: $bg-color !important;

    .app {
        .content {
            width: 80%; //todo 1280px;
            margin: auto;
        }
    }

    $marginBetweenBlueBlocks: 20px;
    $blueBlockBorderRadius: 5px;

    .appBlock {
        background-color: $block-color;
        border-radius: $blueBlockBorderRadius;
        margin-top: $marginBetweenBlueBlocks;
        padding: 20px 35px 20px 35px;

        &Label {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
            height: 100%;

            &Container {
                width: 180px;
                height: 50px;
                background-color: rgba(233, 252, 255, 0.92);
                position: relative;
                top: $marginBetweenBlueBlocks + $blueBlockBorderRadius;
                border-radius: $blueBlockBorderRadius;
            }
        }
    }

    .appSwitch {
        display: flex;

        .appSwitchLabel {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        &Component {
            border: 3px solid black;

            .react-switch-handle {
                height: 16px;
                width: 16px;
                top: 2px;
            }
        }
    }

    .timeSpanSelector {
        border: 2px solid black;
        border-radius: 4px;
        padding: 4px 6px 4px 6px;
        display: flex;
        gap: 10px;
        width: fit-content;
        height: fit-content;

        button {
            width: 35px;
            height: 16px;
            padding: 0px;
            background-color: white;
            font-family: 'Space Grotesk';
            color: black;
            border: 1px solid $appPink;
            border-radius: 2px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
        }

        button:hover {
            background-color: $appPink;
        }
    }
}