@import "../../index.scss";

.assetsBlueBlock {
    padding: 40px 35px 40px 35px !important;
    @media screen and (max-width: 1000px) {
        padding: 10px !important;
    }

    .assetsDeposited {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px 40px;
        grid-template-areas:
            ". .";

        @media screen and (max-width: 1300px) {
            display: block;
        }

        .whiteCardContainer {
            display: flex;
            height: fit-content;
            justify-content: center;
            height: 100%;
            align-items: center;

            .whiteCard {
                @include shadowedBox();
                background-color: white;
                padding: 20px 35px 20px 35px;
                @media screen and (max-width: 1000px) {
                    padding: 10px !important;
                }
                width: fit-content;
                height: fit-content;
                display: flex;
                flex-direction: column;

                .diffContainer {
                    justify-items: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    gap: 30px 10px;
                    grid-template-areas:
                        ". ."
                        ". ."
                        ". .";

                    .depositDiff {
                        font-weight: 400;
                        font-size: 14px;
                        width: fit-content;
                        text-align: center;

                        .today {
                            font-weight: 700;
                            font-size: 23px;
                            display: flex;
                            justify-content: center;

                            img {
                                margin-left: 10px;
                                width: 27px;
                                height: 27px;
                            }
                        }

                        .diff {
                            &.red {
                                color: red
                            }

                            &.green {
                                color: green;
                            }
                        }

                        .yesterday {}
                    }
                }
            }
        }

    }
}

.otherCharts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 40px;
    grid-template-areas:
        ". ."
        ". .";

    @media screen and (max-width: 1300px) {
        display: block;
    }
}