@import "../../index.scss";

.assetsDeposited {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas:
        ". .";

    .whiteCardContainer {
        .whiteCard {
            @include shadowedBox();
            background-color: white;
            padding: 20px 35px 20px 35px;

            .diffContainer {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 10px 10px;
                grid-template-areas:
                    ". ."
                    ". ."
                    ". .";

                .depositDiff {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 13px;
                    width: fit-content;
                    text-align: center;

                    .today {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 26px;
                        display: flex;
                        justify-content: center;

                        img {
                            margin-left: 10px;
                            width: 27px;
                            height: 27px;
                        }
                    }

                    .diff {
                        &.red {
                            color: red
                        }

                        &.green {
                            color: green;
                        }
                    }

                    .yesterday {}
                }
            }
        }
    }

}

.otherCharts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
        ". ."
        ". .";
}

.chartCard {
    >* {
        margin-bottom: 10px;
    }

    &Header {
        margin-bottom: 20px;
        ;

        >* {
            display: inline;
        }

        h3 {
            margin-right: 7px;
        }

        .tooltipQuestionMark {
            position: relative;
            bottom: 10px
        }

        a {
            width: 20px;
            height: 20px;
            display: inline-block;
            text-align: center;
            border: 1px solid black;
            border-radius: 50%;
            background-color: transparent;
        }
    }

    &Options {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        :first-child {
            margin-right: auto;
        }
    }

    &CumulativeSwitch {
        display: flex;
        justify-content: end;
    }
}