@import "../../index.scss";

.headerStake {
    .headerStakeContent {
        padding: 0px 25% 0px 25%;

        @media screen and (max-width: 1280px) {
            padding: 0px 10% 0px 10%;
        }

        @media screen and (max-width: 880px) {
            padding: 0px 5% 0px 5%;
        }

        .helpQuantNodeLabel {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }

        .validatorStats {
            border-radius: 6px;
            border: 4px solid black;
            box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
            background-color: white;

            table {
                border-collapse: collapse;
                width: 100%;

                th,
                td {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;

                    padding: 5px 5px 5px 15px;
                }
            }

            &Header {
                background: white;
                height: 23px;
                border-bottom: 4px solid black;

                th {
                    text-transform: uppercase;
                    text-align: left;
                }
            }

            &Content {
                background: white;
                height: 43px;

                .validatorCellContent {
                    display: flex;

                    &Logo {
                        background-image: url("../../../public/img/stride-avatar-icon.png");
                        background-size: contain;
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;

                        margin-right: 5px;
                    }
                }
            }
        }
    }
}