@import "../../index.scss";

.chartCard {
    >* {
        margin-bottom: 10px;
    }

    &Header {
        margin-bottom: 20px;;
        >* {
            display: inline;
        }

        h3 {
            margin-right: 7px;
        }

        .tooltipQuestionMark {
            position: relative;
            bottom: 10px
        }

        a {
            width: 20px;
            height: 20px;
            display: inline-block;
            text-align: center;
            border: 1px solid black;
            border-radius: 50%;
            background-color: transparent;
        }
    }

    &Options {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        :first-child {
            margin-right: auto;
        }
    }

    &CumulativeSwitch {
        display: flex;
        justify-content: end;
    }
}